    .header {
        &__search-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
        &__logo {
            background-color: red;
            padding: 0.5rem 1rem;
            font-weight: 900;
            font-size: 20px;
            color: white;
            border: none;

        }

        &__filter-container {
            margin-top: 0.5rem;
        }


         @media (min-width: 1280px) {
          max-width: 1180px;
            margin: 0 auto;
  }
    }